docs/kovetelmenyek.md
docs/szakdolgozat_dokumentacio_bovitett.pdf
docs/ai_docs/snake_ai_resources.md
.vscode/settings.json
docs/style.css
docs/images
docs/piszkozat.txt
docs/_pdf_front_matter.md
docs/he.md
.venv
.env