docs/kovetelmenyek.md
docs/szakdolgozat_dokumentacio_bovitett.pdf
docs/ai_docs/snake_ai_resources.md
docs/images
docs/piszkozat.txt
docs/_pdf_front_matter.md
docs/he.md
.venv
.env
docs/mi_iranyelv.md
docs/presentation.md
docs/presentation_eloadoi_jegyzet.md
docs/uml.md
